In [1]:
import pandas as pd
import glob

pd.set_option("display.precision", 2) #always just show 2 decimal points


#Read in all country data
path = r'/Users/rvpazos/Documents/mvtec/ManifestoProject/workshop2-manifesto-rebeccaFolder/country-data-2' # use your path
all_files = glob.glob(path + "/*.csv")

all_files
li = []
for filename in all_files:
    df = pd.read_csv(filename,header=0)
    li.append(df)

allData = pd.concat(li, axis=0)

# allData.reset_index()
# allData = allData.set_index(pd.DatetimeIndex(allData['index'])).drop(['index'], axis=1)

allData

,year,yearObject,parfam,countryname,environ,culture,equality,pervote,rile,electionDate,partyname
0,1946,1946,20,Netherlands,0.80,4.00,4.00,10.60,-34.40,May 1946,Communist Party of the Netherlands
1,1946,1946,30,Netherlands,2.50,6.20,3.70,28.31,-19.80,May 1946,Labour Party
2,1946,1946,40,Netherlands,0.00,5.60,9.70,6.41,19.50,May 1946,Freedom Party
3,1946,1946,50,Netherlands,0.00,1.30,7.90,30.81,3.90,May 1946,Catholic People’s Party
4,1946,1946,50,Netherlands,0.00,1.50,4.50,12.90,21.00,May 1946,Anti-Revolutionary Party
...,...,...,...,...,...,...,...,...,...,...,...
216,2017,2020,50,Czech Republic,2.83,2.31,1.80,5.80,-21.34,October 2017,Christian and Democratic Union - Czech People'...
217,2017,2020,50,Czech Republic,1.91,2.73,1.27,5.31,-6.00,October 2017,"Tradition, Responsibility, Prosperity 09"
218,2017,2020,60,Czech Republic,3.63,7.36,0.19,5.18,-22.66,October 2017,Mayors and Independents
219,2017,2020,70,Czech Republic,2.43,0.00,0.48,10.64,-21.36,October 2017,Freedom and Direct Democracy
220,2017,2020,95,Czech Republic,3.67,4.64,0.19,10.80,-21.08,October 2017,Czech Pirate Party

In [3]:
#Parfam renamed
import numpy as np 

#Change parfam codes to abbreviations for better identification
conditions = [
    (allData['parfam'] == 10),
    (allData['parfam'] == 20),
    (allData['parfam'] == 30),
    (allData['parfam'] == 40),
    (allData['parfam'] == 50),
    (allData['parfam'] == 60),
    (allData['parfam'] == 70),
    (allData['parfam'] == 80),
    (allData['parfam'] == 90),
    (allData['parfam'] == 95),
    (allData['parfam'] == 98),
]

values = ['ECO','LEF','SOC','LIB','CHR', 'CON', 'NAT', 'AGR', 'ETH', 'SIP', 'DIV']

allData['parfamName'] = np.select(conditions,values)


allData.head()

,year,yearObject,parfam,countryname,environ,culture,equality,pervote,rile,electionDate,partyname,parfamName
0,1946,1946,20,Netherlands,0.8,4.0,4.0,10.60,-34.4,May 1946,Communist Party of the Netherlands,LEF
1,1946,1946,30,Netherlands,2.5,6.2,3.7,28.31,-19.8,May 1946,Labour Party,SOC
2,1946,1946,40,Netherlands,0.0,5.6,9.7,6.41,19.5,May 1946,Freedom Party,LIB
3,1946,1946,50,Netherlands,0.0,1.3,7.9,30.81,3.9,May 1946,Catholic People’s Party,CHR
4,1946,1946,50,Netherlands,0.0,1.5,4.5,12.90,21.0,May 1946,Anti-Revolutionary Party,CHR

In [15]:
allData = allData[~allData['parfam']==999]

In [13]:
# #Extract year

# allData['yearObject'] = pd.to_datetime(allData['yearObject'], format='%Y')
# # allData['yearIndex'] = allData['yearObject'].dt.year

# # allData.drop('yearObject', axis='columns', inplace = True)


# allData

,year,yearObject,parfam,countryname,environ,culture,equality,pervote,rile,electionDate,partyname
0,1946,1946-01-01,20,Netherlands,0.80,4.00,4.00,10.60,-34.40,May 1946,Communist Party of the Netherlands
1,1946,1946-01-01,30,Netherlands,2.50,6.20,3.70,28.31,-19.80,May 1946,Labour Party
2,1946,1946-01-01,40,Netherlands,0.00,5.60,9.70,6.41,19.50,May 1946,Freedom Party
3,1946,1946-01-01,50,Netherlands,0.00,1.30,7.90,30.81,3.90,May 1946,Catholic People’s Party
4,1946,1946-01-01,50,Netherlands,0.00,1.50,4.50,12.90,21.00,May 1946,Anti-Revolutionary Party
...,...,...,...,...,...,...,...,...,...,...,...
216,2017,2020-01-01,50,Czech Republic,2.83,2.31,1.80,5.80,-21.34,October 2017,Christian and Democratic Union - Czech People'...
217,2017,2020-01-01,50,Czech Republic,1.91,2.73,1.27,5.31,-6.00,October 2017,"Tradition, Responsibility, Prosperity 09"
218,2017,2020-01-01,60,Czech Republic,3.63,7.36,0.19,5.18,-22.66,October 2017,Mayors and Independents
219,2017,2020-01-01,70,Czech Republic,2.43,0.00,0.48,10.64,-21.36,October 2017,Freedom and Direct Democracy
220,2017,2020-01-01,95,Czech Republic,3.67,4.64,0.19,10.80,-21.08,October 2017,Czech Pirate Party

In [16]:
#Add column with static rile instead of dynamic just in case

conditionsStatic = [
    (allData['parfam'] == 10),
    (allData['parfam'] == 20),
    (allData['parfam'] == 30),
    (allData['parfam'] == 40),
    (allData['parfam'] == 50),
    (allData['parfam'] == 60),
    (allData['parfam'] == 70),
    (allData['parfam'] == 80),
    (allData['parfam'] == 90),
    (allData['parfam'] == 95),
    (allData['parfam'] == 98),
]

valuesStatic = [-13.65,-23.66,-14,4.61,6.13,11.64,10.25,1.01,-9.04,3.36,-10.52]

allData['staticRile'] = np.select(conditionsStatic,valuesStatic)

allData

Empty DataFrame
Columns: [yearObject, parfamName, parfam, countryname, environ, culture, equality, pervote, rile, staticRile, electionDate, partyname]
Index: []

In [8]:

allData = allData[['yearObject','parfamName','parfam','countryname','environ','culture','equality','pervote','rile','staticRile','electionDate','partyname']]
df2 = allData.set_index('parfamName')
df2 = df2.rename(columns={'yearObject' : 'yearIndex'})
df2.to_csv('finalData/allCountries.csv')

df2

,yearIndex,parfam,countryname,environ,culture,equality,pervote,rile,staticRile,electionDate,partyname
parfamName,,,,,,,,,,,
LEF,1946,20,Netherlands,0.80,4.00,4.00,10.60,-34.40,-23.66,May 1946,Communist Party of the Netherlands
SOC,1946,30,Netherlands,2.50,6.20,3.70,28.31,-19.80,-14.00,May 1946,Labour Party
LIB,1946,40,Netherlands,0.00,5.60,9.70,6.41,19.50,4.61,May 1946,Freedom Party
CHR,1946,50,Netherlands,0.00,1.30,7.90,30.81,3.90,6.13,May 1946,Catholic People’s Party
CHR,1946,50,Netherlands,0.00,1.50,4.50,12.90,21.00,6.13,May 1946,Anti-Revolutionary Party
...,...,...,...,...,...,...,...,...,...,...,...
CHR,2020,50,Czech Republic,2.83,2.31,1.80,5.80,-21.34,6.13,October 2017,Christian and Democratic Union - Czech People'...
CHR,2020,50,Czech Republic,1.91,2.73,1.27,5.31,-6.00,6.13,October 2017,"Tradition, Responsibility, Prosperity 09"
CON,2020,60,Czech Republic,3.63,7.36,0.19,5.18,-22.66,11.64,October 2017,Mayors and Independents
NAT,2020,70,Czech Republic,2.43,0.00,0.48,10.64,-21.36,10.25,October 2017,Freedom and Direct Democracy
SIP,2020,95,Czech Republic,3.67,4.64,0.19,10.80,-21.08,3.36,October 2017,Czech Pirate Party

In [17]:
#create grouped file for CSV

import numpy as np

pt = pd.pivot_table(df2, index={'parfamName','yearIndex'}, values=['parfam','environ','culture','equality','pervote','rile','staticRile'], aggfunc={'parfam' : 'count', 'environ' : 'sum','culture' : 'sum','equality' : 'sum', 'pervote' : 'sum', 'rile' : 'mean', 'staticRile':'min'}, dropna=True)
pt = pt.rename(columns={'parfam':'parfamCount'})
pt['avgVote'] = (pt['pervote'])/(pt['parfamCount'])

pt

                      culture  environ  equality  parfamCount  pervote   rile  \
yearIndex parfamName
1944      AGR            0.00     0.00      0.00            1    13.60  23.81
          CON            0.00     0.00      5.30            1    15.80  28.00
          LEF            0.00     0.00      0.00            1    10.30   9.60
          LIB            0.00     0.00      1.60            1    12.90   9.50
          SOC            0.00     0.00      5.60            1    46.50 -37.80
...                       ...      ...       ...          ...      ...    ...
2020      LEF           85.48   179.33    320.04           36   287.58 -29.87
          LIB          116.58   153.27    162.80           36   425.18  -4.60
          NAT           63.67    94.79     94.91           33   361.99  10.96
          SIP           28.45    74.80     40.93           10    87.47  -7.46
          SOC           93.78   137.71    242.61           34   553.78 -19.91

                      staticRile  avgVote
yearIndex parfamName
1944      AGR               1.01    13.60
          CON              11.64    15.80
          LEF             -23.66    10.30
          LIB               4.61    12.90
          SOC             -14.00    46.50
...                          ...      ...
2020      LEF             -23.66     7.99
          LIB               4.61    11.81
          NAT              10.25    10.97
          SIP               3.36     8.75
          SOC             -14.00    16.29

[745 rows x 8 columns]

In [18]:
pt.to_csv('grouped-data.csv')

In [22]:
import json

# pt_json = pt.reset_index()
# pt_json = pt_json.set_index({'parfamName','yearIndex'})
# pt_json

result = pt.to_json('test2.json',orient='index')

In [8]:
spainDF = allData.loc[(allData['countryname']=='Spain')] 

decadesFilter = ['1990-01-01','1995-01-01','2000-01-01','2005-01-01','2010-01-01','2015-01-01','2020-01-01']
filteredSpain = spainDF[spainDF.index.isin(decadesFilter)]
filteredSpain


ptSpain = pd.pivot_table(filteredSpain, index=['index','parfamName'], values=['parfam','per503','pervote','environWeighted'], aggfunc={'parfam' : 'count', 'per503' : 'sum', 'pervote' : 'sum', 'environWeighted' : 'sum'}, dropna=True)
ptSpain['avgVote'] = (ptSpain['pervote'])/(ptSpain['parfam'])

ptSpain.to_csv('spain-grouped.csv')

In [95]:
n_by_fam = allData.groupby(['index','parfam'])['parfam'].count()
n_by_fam

index       parfam
1944-01-01  20         1
            30         1
            40         1
            60         1
            80         1
                      ..
2020-01-01  70        24
            80        12
            90        13
            95        16
            98         4
Name: parfam, Length: 750, dtype: int64